<header>
		<img id="logo" src="/images/newdads.svg" alt="New Dads Chat Room" style="width:1000px;">
	</header>


<form action="/users/login" method="POST">
  <input class="logbox" type="text" name="email" placeholder="Enter Email">
  <input class="logbox" type="password" name="password" placeholder="Enter Password">
  <input class="logsubmit" type="submit" value="LOG IN">
</form>
<p id="loggedin"><%= @message %></p>