
<form action="/users/login" method="POST">
  <input type="text" name="email" placeholder="Enter Email"><br>
  <input type="password" name="password" placeholder="Enter Password">
  <input type="submit" value="LOG IN">
</form>
<p><%= @message %></p>